body {
  background: #fafafa;
}

.Grid {
  display: grid;
  grid-template-rows: 120px auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "content";

  width: 100vw;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  background: url(./stripes-light.png);
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  color: #333;
  overflow-y: auto;
}

@media (min-width: 1000px) {
  .Grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 35% 65%;
    grid-template-areas:
      ". content"
      "header content"
      "header content"
      ". content";

    min-height: 800px;
  }
}

.Grid-header {
  grid-area: header;
  display: flex;
  background: #fafafa;
  border-bottom: 1px solid #979797;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.Grid-header-content {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.Grid-header-image {
  flex: 1;
  display: flex;
  align-items: center;
}

.Grid-header-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0;
}

.Grid-header-text {
  flex: 3;
  text-align: right;
}

.Grid-header-text h2,
.Grid-header-text h3 {
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  .Grid-header {
    align-items: center;
    justify-content: center;
    max-width: 400px;
    max-height: 400px;
    border-top: 1px solid #979797;
    border-right: 1px solid #979797;
    border-radius: 0 6px 6px 0;
  }

  .Grid-header-content {
    flex-direction: column;
    padding: 2rem;
  }

  .Grid-header-image {
    justify-content: center;
  }

  .Grid-header-image img {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
  }

  .Grid-header-text {
    flex: 1;
    text-align: center;
  }
}

.Grid-content-wrapper {
  grid-area: content;
  display: flex;
  padding: 1rem 1rem 0 1rem;
}

.Grid-content {
  position: relative;
  flex: 1;
  padding: 1rem;
  min-height: 540px;
  background: #fafafa;
  border: 1px solid #979797;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

@media (min-width: 1000px) {
  .Grid-content-wrapper {
    padding: 2rem 2rem 0 2rem;
  }
}
